body{
  
  background-color: #d2e2ab;
}
nav{
  background-color: #7e8667;
  color: #fff;
  display: none; /* hidden until the token is ready */
}
section {
  background-image: url('plant.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  width: 50%; margin: 10px auto;
  min-height: 80vh;
}

.card .card-action {
  background-color: #e9f3d0;
}

#content .card .card-action a{
  color:#7e8667;
}
@media screen and (max-width: 992px) {
  section {  width: 90%; }
}


footer{
  text-align: center;
  padding: 20px;
}