body{
  background-image: url('plant.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ccffcc;
}

section {
  width: 50%; margin: 10px auto;
}

@media screen and (max-width: 992px) {
  section {  width: 90%; }
}
